html,
body {
  height: 100%;
}
body {
  background: linear-gradient(
    338.54deg,
    #d4b0eb -6.91%,
    #9796d9 40.49%,
    #beabc4 69.65%,
    rgba(174, 72, 212, 0) 106.04%
  );
  font-family: 'Roboto';
}
#msgBox {
  overflow-x: hidden;
  width: 320px;
  height: 500px;
  padding: 5px;
  border-radius: 20px;
  display: inline-block;
  background: #f5f5f5;
  margin: 0 0 0 35px;
}
#form {
  margin-left: 30px;
  padding: 5px;
  display: flex;
}

#form > div {
  width: 330px;
}
#form input.msg {
  font-family: 'Roboto';
  font-size: 14px;
  border: 1px solid #f5f5f5;
  border-radius: 5px;
  background: #f5f5f5;
  width: 330px;
}
.msg-right,
.msg-left,
.msg-center {
  font-size: 14px;
  color: white;
  text-align: left;
  vertical-align: middle;
  border-radius: 25px;
  padding: 8px;
}

.msg-left {
  margin: 20px 150px 20px 0px;
  background: linear-gradient(111.63deg, #fa7fd0 2.66%, #2ed1db 105.09%);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.msg-right {
  margin: 20px 0px 20px 150px;
  background: linear-gradient(291.63deg, #fa7fd0 2.66%, #2ed1db 105.09%);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.msg-center {
  margin: 20px 20px 20px 25px;
  font-size: 11px;
  color: #828282;
  text-align: center;
  width: 250px;
}

.msg-date {
  font-size: 10px;
}

.usr-name {
  font-size: 12px;
}

#typingInput {
  font-family: 'Roboto';
  margin: 0px 250px 0px 35px;
  display: flex;
  width: 320px;
  font-size: 10px;
}

#onlineUsers {
  overflow-x: hidden;
  font-family: 'Roboto';
  color: #828282;
  white-space: pre;
  font-size: 12px;
  text-align: center;
  width: 330px;
  height: 55px;
  margin: 0px 150px 5px 35px;
  border-radius: 20px;
  background: #f5f5f5;
}

.usr-photo {
  width: 36px;
  height: 36px;
  margin-right: 10px;
  border-radius: 50%;
  float: left;
}
